/*******************
  Custom CSS Styles
*******************/

/***************
Images and Icons
****************/
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.border-mobile {
  border-right: 1px solid #ccc;
}

.mainpagelogo {
  width: 250px;
}

.radius {
  border-radius: 5px;
}

.relax {
  opacity: 0.5;
  filter: alpha(opacity-50);
}

.nav-right {
  text-shadow: #888 0.25em 0.25em 0.25em;
}

.port-bar {
  text-shadow: #444 0.25em 0.25em 0.25em;
}

.resumetext {
  color: #444;
  text-shadow: #444 0.05em 0.05em 0.05em;
  position: relative;
  top: 50px;
  cursor: pointer;
}

.linkedintext {
  color: #444;
  text-shadow: #444 0.05em 0.05em 0.05em;
  position: relative;
  top: 20px;
  margin-right: 8px;
  float: right;
}

.bg-portfolio {
  background-color: #E3CB9B;
}

.submit-btn {
  background-color: #02A6BF;
  border-color: #FCF2CB; 
}

.submit-btn:hover {
  background-color: #FF8926;
}

.jumbotron {

  height: 800px;
}

.htmlimage {
  height: 490px;
}

.portfolioimage {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #02A6BF;
  color: #fff;
  width: 97%;
  text-align: center;
  padding: 10px 0 10px 0;
  height: 110px;
  font-family: 'Righteous', cursive;
}

.portfolioimage2 {
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #02A6BF;
  color: #fff;
  width: 97%;
  text-align: center;
  padding: 10px 0 10px 0;
  height: 110px;
  font-family: 'Righteous', cursive;
}

.myIcon {
  position: absolute;
  height: 110px;
  top: 240px;
  left: 35px;
}

.myIcon2 {
  position: absolute;
  height: 70px;
  /* top: 240px;*/
  left: 335px;
}

#DavidButton {
  margin: auto;
}

.background {
  background-color: black;
}

.icon {
  height: 70px;
  position: absolute;
  top: 320px;
  left: 475px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0.7;
}

.iconhang {
  height: 70px;
  position: absolute;
  top: 300px;
  left: 475px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0.7;
}

.icon:hover,
.icon2:hover,
.iconguitar:hover,
.iconbottomrow:hover,
.linkedintext:hover,
.resumetext:hover,
.cvicon:hover,
.linkedinicon:hover,
.icon4throw:hover,
.icon2_4throw:hover {
  opacity: 5;
  filter:brightness(150%);
}


.icon2 {
  height: 70px;
  position: absolute;
  top: 320px;
  left: 475px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0.7;
}

.icon2_4throw {
  height: 70px;
  position: absolute;
  top: 305px;
  left: 475px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0.7;
}

.icontextshow {
  position: absolute;
  text-align: center;
  top: 390px;
  left: 35px;
  color: #fff;
}

.icontextshow2 {
  position: absolute;
  text-align: center;
  top: 390px;
  left: 35px;
  color: #fff;
}

.icontextshow2_4th {
  position: absolute;
  text-align: center;
  top: 370px;
  left: 35px;
  color: #fff;
}

.icontextshow3 {
  position: absolute;
  text-align: center;
  top: 375px;
  left: 35px;
  color: #fff;
}

.iconguitar {
  height: 70px;
  position: absolute;
  top: 325px;
  left: 40px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0.7;
}

.iconguitar2 {
  height: 70px;
  position: absolute;
  top: 300px;
  left: 40px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0.7;
}

.iconbottomrow {
  height: 70px;
  position: absolute;
  top: 325px;
  left: 40px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0.7;
}

.icon4throw {
  height: 70px;
  position: absolute;
  top: 305px;
  left: 40px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0.7;
}

.icontextshowrepo {
  position: absolute;
  text-align: center;
  top: 390px;
  left: 485px;
  color: #fff;
}

.icontextshowrepo2 {
  position: absolute;
  text-align: center;
  top: 390px;
  left: 485px;
  color: #fff;
}

.icontextshowrepo2_4th {
  position: absolute;
  text-align: center;
  top: 370px;
  left: 485px;
  color: #fff;
}

.icontextshowrepo3 {
  position: absolute;
  text-align: center;
  top: 375px;
  left: 485px;
  color: #fff;
}

.cvicon {
  height: 70px;
  width: 70px;
  float: left;
  position: relative;
  top: 50px;
}

.linkedinicon {
  height: 70px;
  width: 70px;
  top: 20px;
  position: relative;
  float: right;
}

.linkedintext h4 {
  text-align: right;
  float: right;
  top: 60px;
  position: relative;
}

.cvicon h4 {
  text-align: right;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.righteous {
  font-family: 'Righteous', cursive;
}

.navblack {
  background-color: #1B1A28;
}

.navwhite {
  background-color: #F2F2F2;
}

.bkgimage {
  background: url("../images/backgroundorange.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  position: relative;
}

.inletimage {
  background: url("../images/dust_scratches.png");
}

.credit {
  font-size: 10px;
}

.sticky-footer {
 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; 
  z-index: 8;
}

.desc-text {
  vertical-align: middle;
}

/**************************
Up Button for Mobile scrolling 
**************************/

#upBtn {
  display: inline-block;
  background-color: whitesmoke;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  bottom: 49px;
  right: 30px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}

#upBtn::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: whitesmoke;
}

#upBtn:hover {
  cursor: pointer;
  background-color: gold;
}

#upBtn:active {
  background-color: gold;
}

#upBtn.show {
  opacity: 1;
  visibility: visible;
}

/* ##################
    Modal Content 
###################*/

.modal-content {
  background-color: #02A6BF;
  color: #fff;
  top: 400px;
  margin: auto;
  text-align: right;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.modal-content p {
  text-align: center;
}

/***************
The Close Button
 ***************/
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/************************************************
  These rules take effect when the browser's width
  is either 980px or less.
************************************************/
@media screen and (max-width: 980px) {

  .col-adjust {
    width:1300px;
  }

  .mobile-sizeabout {
    height: 1200px;
  }

  .jumbotron {

    height: 1300px;
  }

  .border-mobile,
  .no-border {
    border-right: 0;
  }

  .linkedinicon {
    float: left;
    top: 100px;
    left: -70px;
  }

  .linkedintext {
    
    position: relative;
    top: 100px;
    float: left;
    left: -69px;
  }

  .iconguitar {
    height: 70px;
    position: absolute;
    top: 345px;
    left: 10px;
    z-index: 1;
    transition: 0.3s;
    opacity: 0.7;
  }

  .icontextshow,
  .icontextshowrepo,
  .icontextshow2,
  .icontextshowrepo2,
  .icontextshowrepo2_4th {
    position: absolute;
    text-align: center;
    top: 370px;
    left: 485px;
    color: #fff;
  }
  .icontextshow2_4th {
    display: none;
  }

  .icon {
    height: 70px;
    position: absolute;
    top: 345px;
    left: 275px;
    z-index: 1;
    transition: 0.3s;
    opacity: 0.7;
  }

  .icon2 {
    height: 70px;
    position: absolute;
    top: 345px;
    left: 275px;
  }

  .icon2_4throw {
    height: 70px;
    position: absolute;
    top: 345px;
    left: 275px;
  }

  .iconbottomrow {
    height: 70px;
    position: absolute;
    top: 345px;
    left: 20px;
  }

  .icon4throw {
    height: 70px;
    position: absolute;
    top: 345px;
    left: 20px;
  }
  
}

/***********************************************
  These rules take effect when the browser's width
  is either 768px or less.
************************************************/
@media screen and (max-width: 768px) {

  .col-adjust {
    width:1300px;
  }

  .mobile-sizeabout {
    height: 1200px;
  }

  .jumbotron {

    height: 1300px;
  }

  .border-mobile,
  .no-border {
    border-right: 0;
  }

  .linkedinicon {
    float: left;
    top: 100px;
    left: -70px;
  }

  .linkedintext {
    
    position: relative;
    top: 100px;
    float: left;
    left: -69px;
  }

  .iconguitar {
    height: 70px;
    position: absolute;
    top: 325px;
    left: 10px;
    z-index: 1;
    transition: 0.3s;
    opacity: 0.7;
  }

  .icontextshow,
  .icontextshowrepo,
  .icontextshow2,
  .icontextshow2_4th,
  .icontextshowrepo2,
  .icontextshowrepo2_4th {
    display: none;
  }

  .icon {
    height: 70px;
    position: absolute;
    top: 325px;
    left: 275px;
    z-index: 1;
    transition: 0.3s;
    opacity: 0.7;
  }

  .icon2 {
    height: 70px;
    position: absolute;
    top: 345px;
    left: 275px;
  }

  .icon2_4throw {
    height: 70px;
    position: absolute;
    top: 345px;
    left: 275px;
  }

  .iconbottomrow {
    height: 70px;
    position: absolute;
    top: 345px;
    left: 20px;
  }

  .icon4throw {
    height: 70px;
    position: absolute;
    top: 345px;
    left: 20px;
  }
  
}

/*************************************************
  These rules take effect when the browser's width
  is either 640px or less.
*************************************************/

@media screen and (max-width: 640px){

  .col-adjust {
    width:1300px;
  }

  .mobile-sizeabout {
    height: 1200px;
  }

  .jumbotron {

    height: 1300px;
  }

  .border-mobile,
  .no-border {
    border-right: 0;
  }

  .linkedinicon {
    float: right;
    top: -15px;
    left: -70px;
  }

  .cvicon {
    top: 10px;
  }

  .linkedintext {
    position: relative;
    top: 25px;
    float: right;
    left: -69px;
    font-size: 15px;
  }
  
  .resumetext {
    font-size: 15px;
  }
  .iconguitar {
    height: 70px;
    position: absolute;
    top: 320px;
    left: 40px;
    z-index: 1;
    transition: 0.3s;
    opacity: 0.7;
  }

  .icontextshow,
  .icontextshowrepo,
  .icontextshow2,
  .icontextshow2_4th {
    position: absolute;
    text-align: center;
    top: 370px;
    left: 35px;
    color: #fff;
  }
  .icontextshowrepo2 {
    display: none;
  }

  .icontextshowrepo2_4th {
    display: none;
  }

  .icon {
    height: 70px;
    position: absolute;
    top: 320px;
    left: 420px;
    z-index: 1;
    transition: 0.3s;
    opacity: 0.7;
  }

  .icon2 {
    height: 70px;
    position: absolute;
    top: 340px;
    left: 420px;
  }

  .icon2_4throw {
    height: 70px;
    position: absolute;
    top: 340px;
    left: 420px;
  }

  .iconbottomrow {
    height: 70px;
    position: absolute;
    top: 340px;
    left: 40px;

  }

  .icon4throw {
    height: 70px;
    position: absolute;
    top: 340px;
    left: 40px;

  }

}

/*************************************************
  These rules take effect when the browser's width
  is either 375px or less.
*************************************************/
@media screen and (max-width: 375px){

  .col-adjust {
    width:1300px;
  }

  .mobile-sizeabout {
    height: 1300px;
  }

  .jumbotron {

    height: 1500px;
  }

  .border-mobile,
  .no-border {
    border-right: 0;
  }

  .linkedinicon {
    display: none;
    float: right;
    top: -15px;
    left: -70px;
  }

  .cvicon {
    display: none;
    top: 10px;
  }

  .linkedintext {

    position: relative;
    top: -5px;
    float: left;
    left: 15px;
    font-size: 15px;
  }
  
  .resumetext {
    top: -15px;
    left: 10px;
    font-size: 15px;
  }
  .iconguitar {
    height: 70px;
    position: absolute;
    top: 320px;
    left: 40px;
    z-index: 1;
    transition: 0.3s;
    opacity: 0.7;
  }

  .icontextshow,
  .icontextshowrepo,
  .icontextshow2,
  .icontextshowrepo2,
  .icontextshowrepo2_4th {
    display: none;
  }

  .icon {
    height: 70px;
    position: absolute;
    top: 320px;
    left: 220px;
    z-index: 1;
    transition: 0.3s;
    opacity: 0.7;
  }

  .icon2 {
    height: 70px;
    position: absolute;
    top: 340px;
    left: 220px;
  }

  .icon2_4throw {
    height: 70px;
    position: absolute;
    top: 340px;
    left: 220px;
  }

  .iconbottomrow {
    height: 70px;
    position: absolute;
    top: 340px;
    left: 40px;

  }

  .navbar-toggler {
    display: none;
  }

}